body{
    background-color: rgba(16, 16, 44, 0.986);
}
h1{
    background-color: white;
    color: rgb(32, 32, 77);
    display: inline-block;
    border-radius: 40px;
}
h2{
    background-color: white;
    color: rgb(32, 32, 77);
    display: inline-block;
    border-radius: 40px;
}
p{
    color: white;
}
li{
    color: white;
    background-color: rgb(51, 51, 90);
    display: inline-block;
}